# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Environment & secrets
.env
.env.local
*.json
!dbt/**/*.json

# dbt
dbt_packages/
target/
logs/
dbt_modules/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
!*.tfvars.example

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp
*.swo